<div class="album">
  <div class="album__artwork">
    <img src={{album.albumArtistUrl}} alt={{album.name}}>
  </div>
  <div class="album__desc">
    <span class="album__desc__title">{{album.name}}</span>
    <span class="album__desc__artist">by {{album.artist}}</span>
  </div>
</div>
